/* _content/TimeOffManager.WebComponents/DialogModal/Authentication/SignIn.razor.rz.scp.css */
.error_message[b-7wclaeuvmm] {
    color: red;
    display:flex;
    justify-content:center;
}
/* _content/TimeOffManager.WebComponents/DialogModal/Authentication/SignUp.razor.rz.scp.css */
.already_have_acc_row[b-5sw555nu91] {
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}
/* _content/TimeOffManager.WebComponents/DialogModal/Teams/AddTeamDialog.razor.rz.scp.css */
/* _content/TimeOffManager.WebComponents/DialogModal/Teams/AddTeamMemberDialog.razor.rz.scp.css */
